* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: gainsboro;
}

h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 50px;
}

ul {
    list-style: none;
    margin-top: 50px;
}

li:not(:last-child){
    margin-bottom: 25px;
}

a {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

.column {
    flex-direction: column;
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

.odin-icon {
    margin-top: 30px;
    height: 200px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
